<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Welcome | Connetions</title>
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/float.css">
	</head>
	<body>
    <!-- /nav bar -->
    <p>
      <!-- spacing -->
      
      
    </p>

<div class="container">
<nav class="navbar navbar-inverse navbar-fixed-top">
      <% console.log(""); %>
      <!-- /nav bar -->
      <p>
        <!-- spacing -->


      </p>

      <div class="container">
        <nav>
          <!-- Set active class to step-->
          <ul class="nav nav-pills pull-left">
            <li class="white active" role="presentation">
              <a href="/home" class="active">Home
            </a>
            </li>
            <li role="presentation">
              <a href="/about" class="white">About
            </a>
            </li>
            <li role="presentation">
              <a href="/getstarted" class="white">Getting Started
              </a>
            </li>
            <li role="presentation">
              <a href="/contact" class="white">
                Contact
              </a>
            </li>
            <li role="presentation">
              <a href="/help" class="white">
                Help
              </a>
            </li>
          </ul>
          <ul class="nav nav-pills pull-right">
            <li role="presentation">
              <a href="/signup" class="white">Sign Up</a>
            </li>
            <li role="presentation">
              <a href="/login" class="white">Login</a>
            </li>
          </ul>
        </nav>
      </div>

      <p>
        <!-- spacing -->


      </p>

    <!-- Collect the nav links, forms, and other content for toggling -->


</nav>
  <!--- Authnitaicted? -->
  <% if(!isAuthenticated){ %>
    <% res.render(login.ejs); %>
      <% }; %>

<div class="header clearfix pull-middle pad-jum-top-two">
      <div class="container">
        <div class="header clearfix" role="main">
          <div class="jumbotron backjumb">
            <h1>Connections</h1>
            <p>


            </p>
            
            <h2>Conneting up clients with servers, easily</h1>
  <a href="signup.ejs"><button class="btn btn-lg btn-success" type="button">Get started 
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
    </span>
    </button></a>
      <button class="btn btn-lg btn-primary" type="button">Login 
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
    </span>
    </button>
          </div>
        </div>
      </div>
    </div>
<!-- /.carosel -->
<% console.log("Jubotron prosseced @ ", Date()); %>

		
		<!-- <form method="get" action="mailto:kishansambhi@hotmail.co.uk">
 <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
       <input type="submit" class="btn btn-default">Submit Now</input>
      </span>
    </div><!-- /input-group -->
    <!--
  </div><!-- /.col-lg-6 -->
		<!-- </form> !-->
    <% console.log("Done"); %>
    <% console.log("Finshed @ ", Date()); %>
    <% console.log(""); %>
	</body>
	<script src="jquery/dist/jquery.js"></script>
	<script src="bootstrap/dist/js/bootstrap.js"></script>
</html>